.navbar {
  background-color: #001b48;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  float: none;
  vertical-align: middle;
}

.container {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cd4est {
  width: 8%;
  height: 8%;
}

.title {
  color: white;
}
